.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  flex-direction: column;
  background-color: #b99f68;
}

.img {
  width: 100%;
  max-height: 100vh;
}

.form-container {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background: var(--quaternary-color);
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 0 0;
}

.form {
  max-width: 500px;
  margin-left: 3em;
  gap: 2em;
  display: flex;
  flex-direction: column;

  .fields {
    max-height: 50vh;
    overflow-y: auto;
    gap: 3em;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: 900;
    font-size: 3em;
    max-width: 300px;
  }

  .sub-title {
    font-size: 1.5em;
    gap: 0.2em;
    display: flex;
    flex-direction: column;
  }

  .sign {
    font-weight: 700;
  }
}

.btn {
  background: var(--quinary-color);
  color: var(--quaternary-color);
  border: none;
  outline: none;
  padding: 1em 3em;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

.account {
  align-self: flex-end;
}

.span {
  color: rgb(0, 183, 255);
  cursor: pointer;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .user {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: var(--quaternary-color);
    border-radius: 3px;
    border: 1px solid var(--quinary-color);
    cursor: pointer;

    .img {
      border-radius: 10px;
      padding: 0.5em;
      width: 50px;
      height: 50px;
    }

    .icon-img {
      border-radius: 10px;
      padding: 0.5em;
      min-width: 50px;
      min-height: 50px;
      text-align: center;
      align-content: center;
    }

    .enter {
      font-size: 1.2em;
      font-weight: 500;
    }

    .role {
      font-weight: 700;
    }

    .icon {
      font-size: 2.5em;
      display: flex;
      cursor: pointer;
    }
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
