<div class="container">
  <img class="img" src="logo.png" alt="" />
  <div class="form-container">
    <form class="form">
      <div class="title">Happy to see you again!</div>
      <div class="sub-title">
        <div class="sign">Fill the form and get infinite offers</div>
      </div>

      <app-my-input text="First Name"></app-my-input>
      <app-my-input text="Last Name"></app-my-input>
      <app-my-input text="Email"></app-my-input>
      <app-my-input type="date" text=""></app-my-input>
      <app-my-input text="Password" type="password"></app-my-input>
      <app-my-input text="Confirm Password" type="password"></app-my-input>
      <button class="btn">Sign In</button>
    </form>
  </div>
</div>
