.btn {
  border: none;
  outline: none;
  padding: 1em 3em;
  border-radius: 10px;
  width: 100%;
  color: black;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

.btn-active {
  cursor: pointer;
}

.btn-inactive {
  pointer-events: none;
  opacity: 0.4;
}