<div class="container">
  <img class="img" src="logo.png" alt="" />
  <div class="form-container">
    <form class="form">
      <div class="title">Happy to see you again!</div>
      <div class="sub-title">
        <div class="sign">Fill the form and get infinite offers</div>
      </div>

      <app-my-input text="Email"></app-my-input>
      <app-my-input text="Password" type="password"></app-my-input>
      <app-fill-button text="Sign In"></app-fill-button>
      <div class="forgot" routerLink="/forgot-password">Forgot your password?</div>
    </form>
  </div>
</div>
