<div class="container">
  <form class="form">
    <img class="img" src="logo.webp" alt="" />
    <div class="form-field">
      <input class="input-field" type="text" required />
      <label class="label-field">Email</label>
    </div>
    <div class="form-field">
      <input class="input-field" type="password" required />
      <label class="label-field">Password</label>
    </div>
    <div class="account">
      Don't have an account?
      <span class="span" routerLink="/register">Register now</span>
    </div>
    <button class="btn">Sign In</button>
  </form>
</div>
