<div class="container">
  <div class="top-field">
    <h2>Food Bank</h2>
    <app-create-button text="+ Create Ingredient"></app-create-button>
  </div>
  <app-my-search-field></app-my-search-field>
  <div class="ingredients">
    @for (ingredient of ingredients; track $index) {
    <div class="ingredient">
      <img class="img" src="{{ ingredient.imgUrl }}" alt="" />
      <div class="body">
        <div class="top">
          <div class="left">
            <div class="name">{{ ingredient.name }}</div>
            <div>
              Common additional Price: {{ ingredient.commonAdditionalPrice }}
            </div>
          </div>
          <div class="actions">
            <app-view-button></app-view-button>
            <app-edit-button></app-edit-button>
            <app-share-button></app-share-button>
            <app-delete-button (click)="delete()"></app-delete-button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
