<div class="orders-container">
  <div class="top">
    <div class="title">Orders</div>
    <button class="new-order">+ New Order</button>
  </div>
  <div class="navigation">
    @for (item of navigation; track $index) {
    <div class="navigation-item">{{ item.name }}</div>
    }
  </div>
  <div class="search">
    <ng-icon class="icon-search" name="matSearchOutline"></ng-icon>
    <input class="search-input" type="text" placeholder="Search" />
  </div>
  <div class="orders">
    <div class="order">
      <div class="order-top">
        <div class="order-person-name">Tanya Leon</div>
        <div class="order-top-right">
          <div class="order-status" color_code="Done">Done</div>
          <ng-icon
            class="arrow-icon"
            name="matKeyboardArrowDownOutline"
          ></ng-icon>
        </div>
      </div>
      <div>
        <div>Order id: 23123</div>
      </div>
      <div>
        <div class="order-value">$ 120,00</div>
        <div></div>
      </div>
    </div>
  </div>
</div>
