<div class="container">
  <div class="top-field">
    <h2>Employees</h2>
    <button class="new">+ New Employee</button>
  </div>
  <app-my-search-field></app-my-search-field>

  <div class="navigation">
    <div class="navigation-item">All</div>
    <div class="navigation-item">Admin</div>
    <div class="navigation-item">Manager</div>
    <div class="navigation-item">Common</div>
  </div>
  <div class="navigation">
    <div class="navigation-item">All</div>
    <div class="navigation-item">Chief</div>
    <div class="navigation-item">Assistant</div>
    <div class="navigation-item">Waiter</div>
    <div class="navigation-item">Cleaner</div>
  </div>
</div>
