<div class="container">
  <div class="top-field">
    <h2>Utensils</h2>
    <button class="new">+ New Utensil</button>
  </div>
  <div class="navigation">
    <div class="navigation-item">All</div>
    <div class="navigation-item">Pots</div>
    <div class="navigation-item">Cutlery</div>
    <div class="navigation-item">Plates</div>
    <div class="navigation-item">Other</div>
  </div>
  <div class="utensils">
    @for (utensil of utensils; track $index) {
    <div class="utensil">
      <img class="img" src="{{ utensil.img }}" alt="" />
      <div class="body">
        <div class="top">
          <div class="left">
            <div class="name">{{ utensil.name }}</div>
            <div class="quantity">
              {{ utensil.quantity }} uni
            </div>
          </div>
          <div class="actions">
            <app-view-button></app-view-button>
            <app-edit-button></app-edit-button>
            <app-share-button></app-share-button>
            <app-delete-button></app-delete-button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
