<div class="container">
  <div class="top-field">
    <h2>Customizations</h2>
    <app-create-button (click)="create()" text="+ Create Ingredient"></app-create-button>
  </div>
  <app-my-search-field></app-my-search-field>
  <div class="customizations">
    @for (customization of customizations; track $index) {
    <div class="customization">
      <img class="img" src="{{ customization.imgUrl }}" alt="" />
      <div class="top">
        <div class="left">
          <div class="name">{{ customization.name }}</div>
        </div>
        <div class="actions">
          <app-view-button></app-view-button>
          <app-info-button></app-info-button>
          <app-share-button></app-share-button>
          <app-delete-button (click)="delete()"></app-delete-button>
        </div>
      </div>
    </div>

    }
  </div>
</div>
