.container {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 21em 0em 8em;
}

.name {
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  gap: 1em;
}



.profile-img {
  width: 3em;
  border-radius: 90px;
  background-color: var(--quaternary-color);
  padding: 0.1em;
}
