<div class="container">
  <div class="top-field">
    <h2>Products</h2>
    <button class="new">+ New Product</button>
  </div>
  <div class="navigation">
    <div class="navigation-item">All</div>
    <div class="navigation-item">Pizzas</div>
    <div class="navigation-item">Drinks</div>
  </div>
  <div class="products">
    @for (product of products; track $index) {
    <div class="product">
      <img class="img" src="{{ product.img }}" alt="" />
      <div class="body">
        <div class="top">
          <div class="left">
            <div class="name">{{ product.name }}</div>
            <div class="price">{{ product.price }}</div>
          </div>
          <div class="actions">
            <app-view-button></app-view-button>
            <app-edit-button></app-edit-button>
            <app-share-button></app-share-button>
            <app-delete-button></app-delete-button>
          </div>
        </div>
        <div class="ingredients">
          @for (ingredient of product.ingredients; track $index) {
          <div class="ingredient">
            {{ ingredient.name }}: {{ ingredient.quantity }}/{{
              ingredient.measure
            }}
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
