<div class="container">
    <img class="img" src="logo.png" alt="" />
    <div class="form-container">
      <form class="form">
        <div class="title">Reset your password!</div>
        <div class="sub-title">
          <div class="sign">Fill in the new password and the confirmation!</div>
        </div>
  
        <app-my-input text="Password" type="password"></app-my-input>
        <app-my-input text="Confirm Password" type="password"></app-my-input>
        <app-fill-button text="Reset"></app-fill-button>
      </form>
    </div>
  </div>
  