.container {
  padding: 1em 1.5em;
  font-size: 1.2em;
  overflow-y: auto;
  max-height: 80vh;
  min-width: 560px;
}

.question {
  text-align: center;
}

.inputClass {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
}

.labelClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 3rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selectClass {
  list-style: none;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
}

.optionClass .labelClass {
  border: 1px solid white;
}

.optionClass:has(input:checked) .labelClass {
  border: 1px solid black;
}

.optionClass:hover .labelClass {
  border: 1px solid black;
}

.fields {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8em;
}

.ingredient {
  display: flex;
}

.remove {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  border-radius: 100px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: rgba(var(--primary-color-rgb), 0.7);
  }
}

.form-field {
  position: relative;
  width: 100%;
}

.input-field {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--quinary-color);
}

.label-field {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  padding: 0px 5px;
  transition: 0.3s;
  pointer-events: none;
}

.input-field:focus + .label-field,
.input-field:valid + .label-field {
  top: -10px;
  background: var(--quaternary-color);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btns {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  margin-top: 1em;
}

.btn {
  padding: 0.5em 3em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-prev {
  border: 1px solid var(--quinary-color);
  opacity: 0.6;
}

.btn-next {
  color: rgb(41, 133, 255);
  border: 1px solid rgb(41, 133, 255);
}

.to-be-used-title {
  font-weight: 600;
  font-size: 1.1em;
  margin: 0.3em 0;
}

.ingredients-to-be-used {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  .ingredient {
    border: 1px solid var(--quinary-color);
    border-radius: 8px;
    padding: 0.1em 0.8em;
    cursor: pointer;
  }

  .inative {
    border: 1px solid var(--quinary-color);
    border-radius: 8px;
    padding: 0.1em 0.8em;
    pointer-events: none;
    opacity: 0.5;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
    justify-items: center;
    width: 100%;
    gap: 0.5em;

    .input {
      border: none;
      border-bottom: 1px solid var(--quinary-color);
      outline: none;
      border-bottom-left-radius: 15px;
      text-align: right;
      max-width: 5em;
    }

    .quantity {
      display: flex;
      gap: 0.3em;

      .measure {
      }
    }
  }

  .ingredient > :not(.remove) {
    flex: 1;
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
