<div class="container">
  <div class="top">
    <div class="title">Information</div>
    <ng-icon class="icon" name="matCloseSharp"></ng-icon>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="fields">
      <div class="left">
        <div>
          <div>Upload Photo ⬆️</div>
          <div class="form-field">
            <input class="input-field" formControlName="name" required />
            <label class="label-field">Name</label>
          </div>
        </div>
        <div class="form-field">
          <input
            class="input-field"
            formControlName="price"
            required
            currencyMask
            [options]="{
              prefix: '$ ',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              align: 'left'
            }"
          />
          <label class="label-field">Price</label>
        </div>

        <div class="form-field">
          <input
            class="input-field"
            formControlName="discount"
            required
            currencyMask
            [options]="{
              prefix: '',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              align: 'left'
            }"
          />
          <label class="label-field">Discount</label>
        </div>

        <div class="form-field">
          <textarea
            class="input-field textarea-field"
            formControlName="description"
            required
          ></textarea>
          <label class="label-field">Description</label>
        </div>

        <div class="categories">
          <div class="selection">
            <div>Categories</div>
            <div class="search">
              <input type="text" placeholder="Category" />
              <ng-icon name="matKeyboardArrowDownSharp"></ng-icon>
            </div>
            <div class="dropdown">
              @for (category of categories; track $index) {
              <div class="category">
                <div>{{ category.icon }}</div>
                <div>{{ category.name }}</div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="customizations">
          <div class="selection">
            <div>Customizations</div>
            <div class="search">
              <input
                (click)="setCustomizationOpen()"
                type="text"
                placeholder="Add a customization"
              />
              <div class="icon">
                <ng-icon
                  *ngIf="!isCustomizablesOpen"
                  name="matKeyboardArrowDownSharp"
                ></ng-icon>
                <ng-icon
                  *ngIf="isCustomizablesOpen"
                  name="matKeyboardArrowUpSharp"
                ></ng-icon>
              </div>
            </div>

            <div class="to-be-used-list" *ngIf="isCustomizablesOpen">
              @for (customization of customizations; track $index) {
              <div
                [ngClass]="isUsed(customization) ? 'item inative ' : 'item'"
                (click)="addToCustomizations(customization)"
              >
                <img class="img" src="{{ customization.imgUrl }}" alt="" />
                <div class="name">{{ customization.name }}</div>
              </div>
              }
            </div>
          </div>
          <table *ngIf="customizationsArray?.length">
            <thead>
              <tr>
                <th>Customization</th>
                <th>Included By Default</th>
                <th>Quantity Adjustable</th>
                <th>Quantity</th>
                <th>Additional Price</th>
                <th>Min Quantity</th>
                <th>Max Quantity</th>
              </tr>
            </thead>
            <tbody class="customizations-list" formArrayName="customizations">
              @for (customization of customizationsFormArray().controls; track
              $index) {
              <tr class="customization" [formGroupName]="$index">
                <th>
                  <div class="group">
                    <img
                      class="img"
                      src="{{ customization.value.imgUrl }}"
                      alt=""
                    />
                    <div>
                      {{ customization.value.name }}
                    </div>
                  </div>
                </th>
                <td>
                  <button
                    [ngClass]="
                      includedStatus($index) ? 'hidden' : 'btn btn-choice-no'
                    "
                    (click)="setIncluded($index)"
                  >
                    No
                  </button>
                  <button
                    [ngClass]="
                      !includedStatus($index) ? 'hidden' : 'btn btn-choice-yes'
                    "
                    (click)="setIncluded($index)"
                  >
                    Yes
                  </button>
                </td>
                <td>
                  <button
                    [ngClass]="
                      adjustableStatus($index) ? 'hidden' : 'btn btn-choice-no'
                    "
                    (click)="setQuantityAdjustable($index)"
                  >
                    No
                  </button>
                  <button
                    [ngClass]="
                      !adjustableStatus($index)
                        ? 'hidden'
                        : 'btn btn-choice-yes'
                    "
                    (click)="setQuantityAdjustable($index)"
                  >
                    Yes
                  </button>
                </td>
                <td>
                  <div class="quantity">
                    <div
                      class="quantity-btn decrease"
                      (click)="decrease($index, 'quantity')"
                    >
                      -
                    </div>
                    <div class="input">{{ customization.value.quantity }}</div>
                    <div
                      (click)="increase($index, 'quantity')"
                      class="quantity-btn increase"
                    >
                      +
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-field">
                    <input
                      class="input-field"
                      formControlName="additionalPrice"
                      required
                      currencyMask
                      [options]="{
                        prefix: '$ ',
                        thousands: '.',
                        decimal: ',',
                        allowNegative: false
                      }"
                    />
                  </div>
                </td>
                <td>
                  <div class="quantity">
                    <div
                      class="quantity-btn decrease"
                      (click)="decrease($index, 'minQuantity')"
                    >
                      -
                    </div>
                    <div class="input">
                      {{ customization.value.minQuantity }}
                    </div>
                    <div
                      (click)="increase($index, 'minQuantity')"
                      class="quantity-btn increase"
                    >
                      +
                    </div>
                  </div>
                </td>
                <td>
                  <div class="quantity">
                    <div
                      class="quantity-btn decrease"
                      (click)="decrease($index, 'maxQuantity')"
                    >
                      -
                    </div>
                    <div class="input">
                      {{ customization.value.maxQuantity }}
                    </div>
                    <div
                      (click)="increase($index, 'maxQuantity')"
                      class="quantity-btn increase"
                    >
                      +
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button [ngClass]="changed ? 'btn-save save' : 'btn-save save-inactive'">
      Save
    </button>
  </form>
</div>
