<div class="container">
  <div class="top">
    <div class="title">Information</div>
    <ng-icon (click)="close()" class="icon" name="matCloseSharp"></ng-icon>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="fields">
      <div class="left">
        <div>
          <div class="upload">
            <span>Upload</span> <span>Photo </span><span>⬆️</span>
          </div>
          <div class="form-field">
            <input class="input-field" formControlName="name" required />
            <label class="label-field">Name</label>
          </div>
        </div>
        <div class="form-field">
          <input
            class="input-field"
            formControlName="price"
            required
            currencyMask
            [options]="{
              prefix: '$ ',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              align: 'left'
            }"
          />
          <label class="label-field">Price</label>
        </div>

        <div class="form-field">
          <input
            class="input-field"
            formControlName="discount"
            required
            currencyMask
            [options]="{
              prefix: '',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              align: 'left'
            }"
          />
          <label class="label-field">Discount</label>
        </div>

        <div class="form-field">
          <textarea
            class="input-field textarea-field"
            formControlName="description"
            required
          ></textarea>
          <label class="label-field">Description</label>
        </div>

        <div class="categories">
          <div class="selection">
            <div>Categories</div>
            <div class="search">
              <input type="text" placeholder="Category" />
              <ng-icon name="matKeyboardArrowDownSharp"></ng-icon>
            </div>
            <div class="dropdown">
              @for (category of categories; track $index) {
              <div class="category">
                <div>{{ category.icon }}</div>
                <div>{{ category.name }}</div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="customizations">
          <div class="selection">
            <div>Customizations</div>
            <div class="search">
              <input
                (click)="setCustomizationOpen()"
                type="text"
                placeholder="Add a customization"
              />
              <div class="icon">
                <ng-icon
                  *ngIf="!isCustomizablesOpen"
                  name="matKeyboardArrowDownSharp"
                ></ng-icon>
                <ng-icon
                  *ngIf="isCustomizablesOpen"
                  name="matKeyboardArrowUpSharp"
                ></ng-icon>
              </div>
            </div>

            <div class="to-be-used-list" *ngIf="isCustomizablesOpen">
              @for (customization of customizations; track $index) {
              <div
                [ngClass]="isUsed(customization) ? 'item inative ' : 'item'"
                (click)="addToCustomizations(customization)"
              >
                <img class="img" src="{{ customization.imgUrl }}" alt="" />
                <div class="name">{{ customization.name }}</div>
              </div>
              }
            </div>
          </div>

          <div class="customization-list" formArrayName="customizations">
            @for (customization of customizationsFormArray().controls; track
            $index) {
            <div class="customization" [formGroupName]="$index">
              <ng-icon
                name="matCloseSharp"
                class="close"
                (click)="removeToCustomizations($index)"
              ></ng-icon>
              <img class="img" src="{{ customization.value.imgUrl }}" alt="" />
              <div class="middle">
                <div class="name">
                  {{ customization.value.name }}
                </div>
                <div class="toggle" (click)="setIncluded($index)">
                  <ng-icon
                    name="{{
                      includedStatus($index)
                        ? 'matCheckSharp'
                        : ' matCloseSharp'
                    }}"
                    [ngClass]="
                      includedStatus($index) ? 'icon inc' : 'icon not-inc'
                    "
                  ></ng-icon>
                  <div>
                    {{ includedStatus($index) ? "Included" : "Not Included" }}
                  </div>
                </div>

                <div class="toggle" (click)="setQuantityAdjustable($index)">
                  <ng-icon
                    name="{{
                      adjustableStatus($index)
                        ? 'matCachedSharp'
                        : 'matMinusSharp'
                    }} "
                    [ngClass]="
                      adjustableStatus($index) ? 'icon adj' : 'icon not-adj'
                    "
                  ></ng-icon>
                  <div>
                    {{
                      adjustableStatus($index) ? "Adjustable" : "Not Adjustable"
                    }}
                  </div>
                </div>
              </div>

              <div class="right-fields">
                <div class="field">
                  <div>Default Quantity</div>
                  <input formControlName="quantity" type="number" />
                </div>
                <div class="field">
                  <div>Minimum Quantity</div>
                  <input formControlName="minQuantity" type="number" />
                </div>
                <div class="field">
                  <div>Maximum Quantity</div>
                  <input formControlName="maxQuantity" type="number" />
                </div>
                <div class="field">
                  <div>Additional Price</div>
                  <input
                    class="input-field"
                    formControlName="additionalPrice"
                    required
                    currencyMask
                    [options]="{
                      prefix: '$ ',
                      thousands: '.',
                      decimal: ',',
                      allowNegative: false
                    }"
                  />
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <button [ngClass]="changed ? 'btn-save save' : 'btn-save save-inactive'">
      Save
    </button>
  </form>
</div>
