.selection {
    display: flex;
    align-items: center;
    gap: 0.8em;
    background: #F9F9F9;
    padding: 0.2em 0.5em;
    border-radius: 100px;
    width: 260px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;

    &:hover {
        background: #F2F2F2;
    }

    .logo {
        width: 1.5em;
        height: 1.5em;
        border-radius: 100px;
    }

    .field {
        display: flex;
        flex-direction: column;
        text-align: left;

        .mode {
            font-weight: 800;
            font-size: 1.1em;
        }

        .address {
            opacity: 0.8;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            text-transform: uppercase;
        }
    }
}