.search {
  display: flex;
  align-items: center;
  background: var(--quaternary-color);
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
