<div class="container">
  <img class="img" src="logo.png" alt="" />
  <div class="form-container">
    <form class="form">
      <div class="title">Log In or Register</div>
      <div class="sub-title">
        <div>
          Join with your email if you already have an account, or create a new
          one.
        </div>
      </div>

      <div class="btns">
        <div class="login-btn btn" routerLink="/login">Sign In</div>
        <div class="register-btn btn" routerLink="/register">Create Account</div>
      </div>
    </form>
  </div>
</div>
