<div class="container">
  <img class="img" src="logo.png" alt="" />
  <div class="form-container">
    <form class="form">
      <div class="title">Log In or Register</div>
      <div class="sub-title">
        <div>
          Join with your email if you already have an account, or create a new
          one.
        </div>
      </div>

      <div class="btns">
        <app-fill-button text="Sign In" routerLink="/login"></app-fill-button>
        <app-outline-button
          text="Create Account"
          routerLink="/register"
        ></app-outline-button>
      </div>
    </form>
  </div>
</div>
